<ion-view class="login" cache-view="false" title="Login">
    <ion-header-bar align-title="left" class="bar-assertive bar-style">
        <h1>
            <img class="title-image" src="resources/img/logo.png" width="70" height="70" />
            <h3 class="text-white margin-left-10">Don't Eat Alone</h3>
        </h1>
    </ion-header-bar>
    <ion-content scroll="true" class="padding">
        <form name="loginForm" no-validate class="login-form">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="loginVm.data.username" required>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="loginVm.data.password" required>
                </label>
            </div>
            <div class="row">
                <button class="button button-block button-assertive col"
                        ng-click="loginVm.login()"
                        ng-disabled="loginForm.$invalid">Login</button>
                <button class="button button-block button-assertive col"
                        ui-sref="app.login.register">Sign Up</button>
            </div>
            <button class="button button-clear button-stable"
                    ui-sref="app.login.forgotPassword">Forgot Password</button>
        </form>
    </ion-content>
</ion-view>
