<ion-view>
    <ion-content scroll="true" class="padding">
        <form name="location" class="transbox">
            <div>
                <span class="text-white" >Which area do you want to eat in?</span>
                <label class="item item-input">
                    <input type="number" placeholder="Enter zip code" ng-model="mVm.preference.location" required>
                </label>
            </div>
            <button class="button button-block button-assertive"  ui-sref="app.home.mood.genderPreference" ng-disabled="location.$invalid">Next</button>
        </form>
    </ion-content>
</ion-view>




