<ion-view>
    <ion-content scroll="true" class="padding">
        <h1 class="text-white" align="center">
            Matching Users
        </h1>
        <div ng-repeat="matchingUser in mVm.matchingUsers">
            <div class="list list-inset">
                <div class="item">
                    <span>First Name</span> : <span>{{matchingUser.firstName}}</span>
                </div>
                <div class="item">
                    <span>Last Name</span> : <span>{{matchingUser.lastName}}</span>
                </div>
                <div class="item">
                    <span>Phone</span> : <span>{{matchingUser.phone}}</span>
                </div>
                <div class="item">
                    <span>Email</span> : <span>{{matchingUser.email}}</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
