<ion-view>
    <ion-content scroll="true" class="padding">
        <h1 class="text-white" align="center">
            Matching Users
        </h1>
        <!--<div ng-repeat="matchingUser in mVm.matchingUsers">-->
            <div class="list list-inset">
                <div class="item">
                    <span>First Name</span> : <span>{{mVm.matchingUsers[0].firstName}}</span>
                </div>
                <div class="item">
                    <span>Last Name</span> : <span>{{mVm.matchingUsers[0].lastName}}</span>
                </div>
                <div class="item">
                    <span>Phone</span> : <span>{{mVm.matchingUsers[0].phone}}</span>
                </div>
                <div class="item">
                    <span>Email</span> : <span>{{mVm.matchingUsers[0].email}}</span>
                </div>
            </div>
        <!--</div>-->
    </ion-content>
</ion-view>
