<ion-view>
    <ion-content scroll="true" class="padding">
        <form name="whatToEat" class="transbox">
            <div>
                <span class="text-white" >Which cuisine do you prefer?</span>
                <ion-list>
                    <ion-radio ng-value="'Indian'" ng-model="mVm.preference.cuisine" ng-required="true">Indian</ion-radio>
                    <ion-radio ng-value="'Mexican'" ng-model="mVm.preference.cuisine" ng-required="true">Mexican</ion-radio>
                    <ion-radio ng-value="'Chinese'" ng-model="mVm.preference.cuisine" ng-required="true">Chinese</ion-radio>
                    <ion-radio ng-value="'American'" ng-model="mVm.preference.cuisine" ng-required="true">American</ion-radio>
                    <ion-radio ng-value="'Thai'" ng-model="mVm.preference.cuisine" ng-required="true">Thai</ion-radio>
                    <ion-radio ng-value="'Italian'" ng-model="mVm.preference.cuisine" ng-required="true">Italian</ion-radio>
                    <ion-radio ng-value="'Sushi'" ng-model="mVm.preference.cuisine" ng-required="true">Sushi</ion-radio>
                </ion-list>
            </div>
            <button class="button button-block button-assertive" ui-sref="app.home.mood.locationPreference" ng-disabled="whatToEat.$invalid">Next</button>
        </form>
    </ion-content>
</ion-view>




