ion-view {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../resources/img/bg.jpg');
}

ion-content {
    background: rgba(198, 51, 51, 0.4);
    margin-top: 10px;
}

.input-label {
    color: white;
    font-weight: bold;
}

.text-white {
    color: white;
    font-weight: bold;
}

.comic-sans {
    font-size: 30px;
    font-weight: bold;
}

.margin-left-10 {
    margin-left: 10px;
}

button {
    border-radius: 5px;
}

.item-input {
    border-radius: 10px;
    border: 3px solid darkgray;
    background: lightgray;
    margin-bottom: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.transbox {
    margin: 30px;
    border: 3px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px;
    background: rgba(127, 84, 19, 0.5);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.opacity {
    background: rgba(198, 51, 51, 0.4) !important;
}

.font-size-large {
    font-size: 50px;
    color: white;
}

.back-arrow {
    position: absolute;
    bottom: 26px;
    right: 25px;
    z-index: 10;
}


