<ion-view class="forgotPassword" cache-view="false">
    <!--<ion-header-bar align-title="left" class="bar-assertive bar-style">-->
        <!--<h1>-->
            <!--<img class="title-image" src="resources/img/logo.png" width="70" height="70" />-->
            <!--<h3 class="text-white margin-left-10">Don't Eat Alone</h3>-->
        <!--</h1>-->
    <!--</ion-header-bar>-->
    <ion-content class="padding">
        <h1>
            <img class="title-image" src="resources/img/logo.png" width="70" height="70" />
            <span class="text-white margin-left-10 ketchup">Don't Eat Alone</span>
        </h1>
        <div class="transbox">
            <div class="text-white">
                Please enter your email address and we will send you an email to reset your password
            </div>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="abc@xyz.com" ng-model="forgotVm.data.email" required>
                </label>
            </div>
            <button class="button button-block button-assertive button-red" ng-click="forgotVm.resetPasswordEmail()">Reset Password</button>
        </div>
        <div>
            <i  style="float: right;padding-top: 200px; padding-right: 25px;" class="ion-arrow-left-c font-size-large pull-right" ng-click="forgotVm.goBack()"></i>
        </div>
    </ion-content>
</ion-view>
